<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.demo.mapper.CourseManageMapper">

    <select id="selectAll" resultType="org.example.demo.entity.Fitness_classes">
        SELECT class_id, class_name, coach_id, schedule_time, duration_minutes, max_capacity, current_enrollment
        FROM fitness_classes
        WHERE coursestatus = 'ACTIVE'
    </select>

    <select id="getCourseById" parameterType="String"
            resultType="org.example.demo.entity.Fitness_classes">
        SELECT class_id, class_name, coach_id, schedule_time, duration_minutes, max_capacity, current_enrollment
        FROM fitness_classes
        WHERE coursestatus = 'ACTIVE' AND class_id = #{class_id}
    </select>

    <select id="searchCourses" resultType="org.example.demo.entity.Fitness_classes" parameterType="String">
        SELECT * FROM fitness_classes
        WHERE (class_id LIKE CONCAT('%', #{keyword}, '%')
            OR class_name LIKE CONCAT('%', #{keyword}, '%')
            OR coach_id LIKE CONCAT('%', #{keyword}, '%')) AND coursestatus = 'ACTIVE'

    </select>
    <update id="updateCourse" parameterType="org.example.demo.entity.Fitness_classes">
        UPDATE fitness_classes
        SET
            class_name = #{class_name},
            coach_id = #{coach_id},
            schedule_time = #{schedule_time},
            duration_minutes = #{duration_minutes},
            max_capacity = #{max_capacity},
            current_enrollment = #{current_enrollment}
        WHERE class_id = #{class_id}
    </update>

    <delete id="deleteById" parameterType="String">
        UPDATE fitness_classes
        SET coursestatus = 'DISABLED'
        WHERE class_id = #{class_id};
    </delete>

    <insert id="addCourse" parameterType="org.example.demo.entity.Fitness_classes">
        INSERT INTO fitness_classes
        (class_id, class_name, coach_id, schedule_time, duration_minutes, max_capacity, current_enrollment, coursestatus)
        VALUES
            (#{class_id}, #{class_name}, #{coach_id}, #{schedule_time}, #{duration_minutes}, #{max_capacity}, #{current_enrollment}, 'ACTIVE')
    </insert>

</mapper>
