<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.demo.mapper.EquipmentMapper">

    <select id="selectAll" resultType="org.example.demo.entity.Equipment">
        SELECT equipment_id AS equipmentId, name, category, purchase_date AS purchaseDate, 
               status, health_status AS healthStatus, last_maintenance_date AS lastMaintenanceDate, 
               maintenance_count AS maintenanceCount, service_life AS serviceLife, 
               usage_count AS usageCount, price, area
        FROM equipment
    </select>



</mapper>
